* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
}

.left-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #d9d9d9;
    padding: 50px 40px;
    z-index: 9;
}

.toggle {
    display: block;
    width: 25px;
    cursor: pointer;
}